
/*********************/
/*      carousel     */
/*********************/
.slick-prev, .slick-next {
    z-index: 50;
}
.slick-prev {
    left: 50%;
    transform: translateX(-225px);
}
.slick-prev::before {
    content: '<';
    color: black;
    font-size: 70px;
    transform: scaleX(0.4);
    display: block;
    line-height: 0;
}

.slick-next {
    right: 50%;
    transform: translateX(225px);
}
.slick-next::before {
    content: '>';
    color: black;
    font-size: 70px;
    transform: scaleX(0.4);
    display: block;
    line-height: 0;
}
#CarouselCoiffures {
    .slick-prev, .slick-next {
        top:  15%;
    }
    button.choix {
        top: 40%;
    }
}
#coiffureChoisie {
    position: absolute;
    top: 0;
    width: 100vw;
    pointer-events: none;
}

#CarouselHauts, #hautChoisi {
    position: absolute;
    top: 0;
    width: 100vw;

    .slick-prev, .slick-next {
        top:  30%;
    }
    button.choix {
        top: 50%;
    }
}
#hautChoisi {
    z-index: 50;
    pointer-events: none;

    g {
        pointer-events: all;
    }
}
#CarouselBas, #basChoisi {
    position: absolute;
    top: 0;
    width: 100vw;
    
    .slick-prev, .slick-next {
        top:  55%;
    }
    button.choix {
        top: 40%;
    }
}
#basChoisi {
    z-index: 49;
    pointer-events: none;

    g {
        pointer-events: all;
    }
}
#CarouselChaussures, #chaussuresChoisies {
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 100;

    .slick-prev, .slick-next {
        top:  85%;
    }
    button.choix {
        top: 75%;
    }
}
#chaussuresChoisies {
    pointer-events: none;

    g {
        pointer-events: all;
    }
}




/**********/
/* BOUTON */
/**********/

.CarouselGeneric button.choix {
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translate(-40%);
    background-color: dodgerblue;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 10px;

    &:hover {
        background-color: forestgreen;
        cursor: pointer;
    }
}

