
/*********************/
/*      carousel     */
/*********************/
.slick-prev, .slick-next {
    z-index: 50;
}
.slick-prev {
    left: 50%;
    transform: translateX(-225px);
}
.slick-prev::before {
    content: '<';
    color: black;
    font-size: 70px;
    transform: scaleX(0.4);
    display: block;
    line-height: 0;
}

.slick-next {
    right: 50%;
    transform: translateX(225px);
}
.slick-next::before {
    content: '>';
    color: black;
    font-size: 70px;
    transform: scaleX(0.4);
    display: block;
    line-height: 0;
}
#CarouselCoiffure {
    min-height: 290px;
}
#CarouselHauts, #hautChoisi {
    position: absolute;
    top: 230px;
    width: 100vw;
}
#CarouselBas, #basChoisi {
    position: absolute;
    top: 370px;
    width: 100vw;
}


#coiffureChoisie {
    position: absolute;
    top: 0;
    width: 100vw;
    pointer-events: none;
}


/**********/
/* BOUTON */
/**********/

.CarouselGeneric button.choix {
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translate(-40%);
    background-color: dodgerblue;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 10px;
    border-radius: 10px;

    &:hover {
        background-color: forestgreen;
        cursor: pointer;
    }
}

