
.modalPseudo {
  background: url(../components/images/ma-meilleure-amie.webp) no-repeat center;
}
.modalPrenom {
  background: url(../components/images/girlNue.svg) no-repeat center;

  &::before {
    content:"";
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 10;
  }
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: auto;
  z-index: 1500;
  background-color: rgba(255, 255, 255, 0.6);

  > div {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255,255,255,0.80);
    padding: 25px;
    border: solid 1px #000;
    border-radius: 10px;

    h2 {
      font-size: 35px;
    }

    input {
      background: none;
      border: solid 1px gray;
      border-radius: 5px;
      font-size: 18px;
      padding: 5px
    }
    input:focus {
        background: white;
        border: 1px solid #ccc;
    }
    button {
      background: dodgerblue;
      color: white;
      border: none;
      font-size: 18px;
      padding: 5px 10px;
      border-radius: 5px;
      margin: 0 0 0 5px;
      
      &:hover {
        background-color: forestgreen;
        cursor: pointer;
      }
    }
  }
}
.btnAnnuler {
  background: lightcoral !important;
}


  