#paletteAccessoires {
  position: absolute;    
  transform: translate(200%, -50%); 
  width: 65px;       
  background-color: #f5f5f5; 
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    background: #fff0f6;
    border-radius: 12px;
    border: 2px solid #ffb6d9;

  .palette-acc-body {
    > div {
        cursor: pointer;
        padding: 6px;
        background: white;
        border-radius: 8px;
        border: 1px solid #ffb6d9;
        transition: transform 0.1s;

        &:hover {
            border: 1px solid #007bff; /* effet hover */
        }
    }
  }
}
/* entete paletteTissu et colorPicker*/
.palette-acc-header {
    background-color: #fff0f6;
    border-top: solid 1px #ffb6d9;
    position: relative;
    margin-bottom: 10px;

    &::before, &::after {
        content: '';
        display: block ;
        border-top: solid 1px #ffb6d9;
        margin-top: 6px;
    }
    span {
        position: absolute;
        color: lightgray;
        top: -5px;
        left: 50%;
        display: block;
        transform: translateX(-50%);
        text-shadow: #fff 0px 0px 5px, #fff 0px 0px 5px, #fff 0px 0px 5px;
        background: white;
        text-wrap: nowrap;
    }
}

/* Elements sur le viewport */
.accessoires-wrapper {
    position: relative;
    z-index: 100;
    
}
#poupee > g.accessoires-layer {
    pointer-events: all;
    .handle {
        width: 8px;
        height: 8px;
        background: white;
        border: 1px solid black;
        position: absolute;
    }
    .scale-handle {fill: #fff;}
    .top-left { cursor: nwse-resize; transform-origin: bottom right;}
    .top-right { cursor: nesw-resize;}
    .bottom-left { cursor: nesw-resize;}
    .bottom-right { cursor: nwse-resize;}

    .closeAcc {
        fill: url('../components/images/picto-close.svg') 0 0;
    }
    .rotate-handle {
        cursor: url('../components/images/picto-rotate.svg') 15 15, grab;
        stroke: transparent;
        fill: transparent;
        pointer-events: stroke !important;
        transform-origin: center center;
    }

}

