/******************/
/* POUPEE PREVIEW */
/******************/
#poupee {
    position: absolute;
    z-index: 0;
    display: inline-block;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}
#poupee, .poupees-grid {
    .fille0{fill:#FFE4D9;stroke:#1D1D1B;}
    .fille1{fill:#FFE4D9;stroke:#1D1D1B;}
    .fille2{fill:#FFFFFF;stroke:#000000;} 
    .fille4{fill:#FF7A84;stroke:#1D1D1B;}
    .fille5{fill:#FFE4D9;}
    .fille6{fill:#FFFFFF;}
    .fille7{fill:#1CB6C6;stroke:#000000;}
    .fille8{fill:#1D1D1B;}
    .fille9{fill:#FF7A84;stroke:#1D1D1B;}
    .fille10{fill:url(#SVGID_1_);}
    .fille11{fill:url(#SVGID_2_);}
    .fille12{opacity:0.50;fill:#FFFFFF;}
    .fille13{stroke:#000000;}   
    .fille3{stroke:#000000;}
}

svg {
  margin: auto;
  max-width: 800px;
}

.svg * {
    stroke: #000;
}
.svg > path:not([fill]),
.svg g.notfill * {
    fill: none;
    stroke: #000;
}
.svg path.relief,
.svg > g.relief path {
    fill: black;
    fill-opacity: 20%;
    stroke: none;
}
svg .dash {
  stroke-dasharray: 1;
}

#poupeeView {
    height: 90vh;
    width: 100vw;
}

#poupeeView,
#coiffureChoisie,
#hautChoisi,
#basChoisi,
#chaussuresChoisies {
  pointer-events: none;
}