/******************/
/* POUPEE PREVIEW */
/******************/
#poupee {
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
}
#poupee, .poupees-grid {
    .fille0{fill:#FFE4D9;stroke:#1D1D1B;}
    .fille1{fill:#FFE4D9;stroke:#1D1D1B;}
    .fille2{fill:#FFFFFF;stroke:#000000;} 
    .fille4{fill:#FF7A84;stroke:#1D1D1B;}
    .fille5{fill:#FFE4D9;}
    .fille6{fill:#FFFFFF;}
    .fille7{fill:#1CB6C6;stroke:#000000;}
    .fille8{fill:#1D1D1B;}
    .fille9{fill:#FF7A84;stroke:#1D1D1B;}
    .fille10{fill:url(#SVGID_1_);}
    .fille11{fill:url(#SVGID_2_);}
    .fille12{opacity:0.50;fill:#FFFFFF;}
    .fille13{stroke:#000000;}   
    .fille3{stroke:#000000;}
}
#poupee {
    > g {
        pointer-events: fill;
    }
    overflow: visible;
}

svg {
  margin: auto;
  max-width: 800px;
}
svg g {
  cursor: pointer;
}

.svg * {
    stroke: #000;
}

.svg g.notfill * {
    fill: none;
    stroke: #000;
}

.svg path.relief,
.svg > g.relief path {
    fill: black;
    fill-opacity: 20%;
    stroke: none;
}
svg .dash {
  stroke-dasharray: 1;
}

#poupeeView {
    height: 90vh;
    width: 100vw;
}

#poupeeView,
#coiffureChoisie,
#hautChoisi,
#basChoisi,
#chaussuresChoisies {
  pointer-events: none;
}

/* Zoom Pan Pinch */
#poupeeView {
  cursor: grab; /* curseur par défaut */
}

#poupeeView.dragging {
  cursor: grabbing; /* curseur pendant le drag */
}
.react-transform-wrapper {
  overflow: visible !important;
}
#zoomButtons {
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: all;
    z-index: 500;

    button {
        text-indent: -1000px;
        overflow: hidden;
        height: 24px;
        width: 24px;
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0px 5px #aaa;
        margin: 0 5px;
        background-size: 75% !important;
        cursor: pointer;
    }

    .zoom {
        background: url(../components/images/picto-zoom.svg) no-repeat #fff 80%;
    }
    .dezoom {
        background: url(../components/images/picto-dezoom.svg) no-repeat #fff 80%;
    }
    .reset {
        background: url(../components/images/picto-reset.svg) no-repeat #fff 80%;
    }
}

#zoomSlider {
    pointer-events: all;
    position:absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 500;
    user-select: none;
    width: 50px;
    height: 300px;

    .rangeWrapper {
        position: absolute;
        width: 200px;

        input[type="range"] {
            transform: rotate(90deg);
            transform-origin: left;
            appearance: none;
            height: 6px;
            background: #ddd;
            border-radius: 5px;
            width: 100%;
        }
        /* Track */
        input[type="range"]::-webkit-slider-thumb {
            appearance: none;
            width: 20px;
            height: 20px;
            background: #ff4d6d;
            border-radius: 50%;
            cursor: pointer;
        }
    }
    
    .zoomValue {
        display: block;
        color: white;
        font-size: 12px;
        width: 40px;
        background: #ff4d6d;
        padding: 5px;
        border-radius: 10px;
        position: absolute;
        bottom: 50px;
        left: 5px;
        transform: translateX(-50%);
    }

    .reset {
        background: white;
        border: none;
        padding: 4px 8px;
        border-radius: 8px;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 5px;
        transform: translateX(-50%);
        box-shadow: 0 0 20px #d4d4d4;
    }
    
}




