@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Ruge+Boogie&display=swap');
.App {
  text-align: center;
  position: relative;
  height: 99vh;
}
svg {
  margin: auto;
  max-width: 800px;
}
.svg path {
    stroke: #000;
}
.svg path:not([fill]) {
    //fill: none;
}

h1, h2, h3, label {
  font-family: 'Parisienne', cursive;
  font-weight: 100;
}
h1 {
  font-family: 'Ruge Boogie', cursive;
  font-size: 5em;
  line-height: 0.9em;
  margin: 0;
}
h3, label {
  font-size: 2em;
  line-height: 1em;
  margin: 0;
}
label {
  font-size: 1.5em;
  line-height: 1em;
  margin: 0;
}
.blockCenter {
  margin: 0 auto;
  display: inline-block;

}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: auto;
  z-index: 1500;

  > div {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255,255,255,0.75);
    padding: 25px;
    border: solid 1px #000;
    border-radius: 10px;

    input {
    background: none;
    border: none;
    }
    input:focus {
      background: white;
      border: 1px solid grey;
    }
  }
}

.formulaire {
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255,255,255,0.75);
    padding: 25px;
    border: solid 1px #000;
    border-radius: 10px;

    button {
      background-color: dodgerblue;
      color: #fff;
      font-size: 16px;
      border: none;
      padding: 10px;
      border-radius: 10px;
    }

    input {
    background: none;
    border: none;
    }
    input:focus {
      background: white;
      border: 1px solid grey;
    }
  }

  .close {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 25px;
    height: 25px;
    overflow: hidden;
    text-indent: 50px;
    border-radius: 50%;
    border-color: #666;
    cursor: pointer;;

    &::before{
      background: #666;
      position: absolute;
      display:block;
      content:'';
      width: 70%;
      height: 6%;
      top: 47%;
      left: 15%;
      transform: rotate(45deg);
    } 
    &::after{
        background: #666;
        position: absolute;
        display:block;
        content:'';
        width: 6%;
        height: 70%;
        left: 47%;
        top: 15%;
        transform: rotate(45deg);
    } 
  }


/*********************/
/*        MENU       */
/*********************/
.menu {
  position: absolute;
  z-index: 1000;
  button#coiffure {
    cursor: pointer;
    height: 50px;
    padding-left: 50px;
    border: none;
    font-size: 18px;
    background: no-repeat url('data:image/svg+xml,<svg id="Calque_1" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 13.3 13.3"><!-- Generator: Adobe Illustrator 29.3.0, SVG Export Plug-In . SVG Version: 2.1.0 Build 146) --><path d="M1.6,13.3h-.3c-.4,0-.5-.4-.5-.7,0-1.1,1.7-3.1,2.6-3.7s1.1-.5,1.6-.9.6-.6.9-.8c.7-.4,1.6-.6,2.3-.9,1.1-.6,1.9-1.6,2.5-2.7s.8-1.7,1.1-2,.6.4.6.6c.1,1.4-1.9,3.8-3,4.6s-1.5.7-2.2,1.1c-1.2.7-1.3,1.6-2,2.7s-2.1,2.2-3.1,2.6l-.6.2Z"/><path d="M10.3,0c.1,0,.2,0,.3,0,.2.1.9.8,1,1,.3.4,0,.8-.5.6-.3-.3-.8-.7-1-1s0-.5.2-.6Z"/><path d="M6.8,4.5c.1,0,.2,0,.4,0,.2.2.8.8,1,1,.3.4-.1.8-.5.6s-.9-.9-1-1c-.2-.2-.1-.5.2-.6Z"/><path d="M7.9,3.6c.1,0,.2,0,.3,0s.9.9,1,1c.2.4-.1.8-.5.5s-.9-.9-1-1c-.1-.2,0-.5.2-.6Z"/><path d="M8.9,2.5c.1,0,.2,0,.3.1.2.1.8.8,1,1,.3.4-.1.8-.5.6s-1-.9-1-1c-.2-.2,0-.6.3-.6Z"/><path d="M9.5,1.3c.1,0,.2,0,.3,0s1,.9,1.1,1.1c.2.3-.2.7-.5.5s-1-1-1.1-1.1c-.1-.2,0-.5.2-.6Z"/><path d="M5.5,4.9s0,0,.1,0l1.1,1.1c.2.4-.2.7-.5.5l-1.1-1.1c-.1-.3,0-.6.3-.6Z"/><path d="M7,1.6c0,0,.1,0,.2,0,0,0,.8.7.8.8.2.3-.2.7-.5.5s-.8-.8-.8-.8c-.1-.2,0-.5.3-.5Z"/><path d="M6.1,2.6c.1,0,.2,0,.3,0s.6.6.7.7c.2.4-.2.7-.5.5s-.6-.6-.7-.7c-.1-.2,0-.5.2-.6Z"/><path d="M5.5,3.7c0,0,.2,0,.2,0s.4.4.4.4c.2.3-.2.7-.5.5s-.4-.4-.5-.5c-.1-.2,0-.5.3-.5Z"/><path d="M8.1.8c.2,0,.8.5.8.7s-.3.4-.6.3-.5-.5-.5-.5c-.1-.2,0-.5.3-.5Z"/><path d="M9.1,0c0,0,.2,0,.2,0s.4.4.4.4c.1.3-.1.6-.4.5s-.5-.4-.5-.5c0-.2.1-.4.3-.5Z"/></svg>');
  }
}




.displayNone {
  display: none;
}

#canvas {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
}
.pointer{
  pointer-events: auto;
  cursor: pointer;
}

.col {
  flex-grow: 1;
}
#colorWheelId {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#poupee {
    position: absolute;
    z-index: 0;
    display: inline-block;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);

    .fille0{fill:#FFE4D9;stroke:#1D1D1B;}
    .fille1{fill:#FFE4D9;stroke:#1D1D1B;}
    .fille2{fill:#FFFFFF;stroke:#000000;}    
    .fille3{fill:none;stroke:#000000;}
    .fille4{fill:#FF7A84;stroke:#1D1D1B;}
    .fille5{fill:#FFE4D9;}
    .fille6{fill:#FFFFFF;}
    .fille7{fill:#1CB6C6;stroke:#000000;}
    .fille8{fill:#1D1D1B;}
    .fille9{fill:#FF7A84;stroke:#1D1D1B;}
    .fille10{fill:url(#SVGID_1_);}
    .fille11{fill:url(#SVGID_2_);}
    .fille12{opacity:0.50;fill:#FFFFFF;}
    .fille13{stroke:#000000;}
}
#coiffureChoisie {
  pointer-events: none;
}

#robe {
  position: absolute;
  z-index: 2;
  display: inline-block;
  width: 80vh;
  height: inherit;
  left: 50%;
  transform: translateX(-50%);
}
#AccessoiresChev {
  position: absolute;
  z-index: 3;
  display: inline-block;
  width: 80vh;
  height: inherit;
  left: 50%;
  transform: translateX(-50%);

  > div {
    position: absolute;
    width: 100%;
    pointer-events: none;
  }
}




#control {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 100;

    .close {
      position: absolute;
      right: 30px;
      cursor: pointer;
      border: none;
    }
    #poigneeTiroirs, .poigneeTiroirs {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      
      button {
        font-family: 'Parisienne', cursive;
        font-size: 1.8em;
        padding: 10px 15px;
        margin-left: 1%;
        border-top: solid 10px #b3ad96;
        border-left: solid 10px #dad5c6;
        border-right: solid 10px #dad5c6;
        border-bottom: solid 10px #b3ad96;
        background: #b3ad96;
        border-bottom: none;
        margin-bottom: -10px;
        position: relative;
        cursor: pointer;
        min-width: 24%;
        z-index: 0;

        &:before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          background: #b3ad96;
          border-radius: 50%;
          position: absolute;
          top: -25px;
          left: 50%;
          transform: translateX(-50%);
        }

        &.open {
          padding: 20px 0;
          border-top: solid 10px #b3ad96;
          background: #f2f0e7;
          z-index: 2;
        }
      }
      #close {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
      }
    }

    #controlCheveux, #controlAccessoires {
      border-image: url("components/images/dentelle.svg") 33% / 30px round;
      //display: flex;
      flex-direction: row;
      flex-wrap: wrap; 
      overflow: hidden;
      padding-top: 0;
      padding-left: 30px;
      padding-right: 30px;
      height: 0;
      min-height: 0;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      transition: all 1s ease;
      position: relative;

      > div.col {
        background: #f2f0e7;
      }
    }
    #accessoiresCheveux {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    .couleur {
      label {
        float: left;
        margin-right: 10px;
        line-height: 1.5em;
      }
    }
    .input-color-container {
      position: relative;
      overflow: hidden;
      padding: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: solid 1px #ccc;
      margin: auto;
      
      input[type="color"] {
        position: absolute;
        right: -8px;
        top: -8px;
        width: 46px;
        height: 46px;
        border: none;
        cursor: pointer;
        padding: 0;
      }
    }
    .react-multi-carousel-list{
      max-width: 560px;
      margin: auto;
    }
    .react-multi-carousel-item {
      max-width: 140px;
    }
    .ImagesRadio {
        input[type="radio"]:checked+label img {
            border: 3px solid #1CB6C6;
        }
        input {
            transform: scale(0, 0);
            position: absolute;
        }
        label {
            display: block;
            cursor: pointer;
            margin: 5px;

            img {
              border: solid 1px #999;
              border-radius: 50%;
            }
        }
    }
    .ImagesCheckbox {

      input[type="checkbox"]:checked+label img {
          border: 3px solid #1CB6C6;
          border-radius: 50%;
      }
      input {
          transform: scale(0, 0);
          position: absolute;
      }
      label {
          display: block;
          cursor: pointer;
          margin: 5px;

          img {
            border: 3px solid transparent;
            border-radius: 50%;
          }
      }
  }
}

/* Palette de tissus */
.color-palette {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  background: #f2f0e7;
}

.color-swatch {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 7px;
  cursor: pointer;
}

.color-swatch-active {
  border: 3px solid #1CB6C6;
}

.bgFleurs {
  background: no-repeat center/150% url('components/images/tissuFleurs.jpg');
}
.bgVichy {
  background: no-repeat center/150% url('components/images/tissuVichy.jpg');
}
.bgAntillais {
  background: no-repeat center/150% url('components/images/tissuAntillais.jpg');
}
.bgEventail {
  background: no-repeat center/150% url('components/images/tissuEventail.jpg');
}
.bgCacao {
  background: no-repeat center/150% url('components/images/tissuCacao.jpg');
}
.bgRoseraie {
  background: no-repeat center/150% url('components/images/tissuRoseraie.jpg');
}

#commode {
  position: relative;
  display: flex;
}

/* animations */
.slideInUp {
  height: auto !important;
  padding-top: 30px !important;
  min-height: 150px !important;
  z-index: 2;
}

.slideOutDown {
  height: 0 !important;
  padding-top: 0 !important;
  min-height: 0 !important;
  z-index: 0;
}


@media (max-width: 480px) {
  h1 {
    font-size: 3em;
  }
  #control .react-multi-carousel-list{
    max-width: 280px;
  }
}
