@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Ruge+Boogie&display=swap');
@import url('styles/Menu.scss');
@import url('styles/Modal.scss');
@import url('styles/poupeesGrid.scss');
@import url('styles/Carousels.scss');
@import url('styles/PaletteTissus.scss');
.App {
  text-align: center;
  position: relative;
  height: 99vh;
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}



svg {
  margin: auto;
  max-width: 800px;
}
.svg {
}
.svg * {
    stroke: #000;
}
.svg > path:not([fill]),
.svg g.notfill * {
    fill: none;
    stroke: #000;
}
.svg path.relief,
.svg > g.relief path {
    fill: black;
    fill-opacity: 20%;
    stroke: none;
}
svg .dash {
  stroke-dasharray: 1;
}


h1, h2, h3, label {
  font-family: 'Parisienne', cursive;
  font-weight: 100;
}
h1 {
  font-family: 'Ruge Boogie', cursive;
  font-size: 5em;
  line-height: 0.9em;
  margin: 0;
}
h2 {
  font-size: 1.8em;
}
h3, label {
  font-size: 2em;
  line-height: 1em;
  margin: 0;
}
label {
  font-size: 1.5em;
  line-height: 1em;
  margin: 0;
}
.blockCenter {
  margin: 0 auto;
  display: inline-block;

}



@media (max-width: 480px) {
  h1 {
    font-size: 3em;
  }
  /*#control .react-multi-carousel-list{
    max-width: 280px;
  }*/
}
